
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Movies List
    </ion-title>
  </ion-toolbar>
</ion-header> 


<ion-content >
<ion-button  (click)="onAdd()">Add Button</ion-button>


       <ion-col  *ngFor="let m of movies">
           <ion-card style="margin:0px;">
            
            <ion-img    src={{m.image_url}} (click)="onImage()"></ion-img>
            <p text-center><b><a button >{{m.name}}</a></b></p>
            <ion-list >
              <ion-icon name="star"></ion-icon><ion-icon name="star">
            </ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon>
            <ion-icon name="star-outline"></ion-icon></ion-list>
            <ion-button  (click) = "editMovie(m)">Edit</ion-button> 
            <ion-button style="float:right;" (click)="deleteMovieList(m.id)">Delete</ion-button>
           </ion-card>           
           </ion-col>
       
           </ion-content>